<style>
.page-links {
/* background-color: lightblue; */
display: grid;
grid-auto-flow: column;
/* grid-column-gap: 5px; */
text-align: center;
font-size: 2.7rem;
}
 .link {
    display: inline-block;
}

</style>

<section>
    <div class="section-wrap">
        <ul class="page-links">
            <li class="link"><a href="http://127.0.0.1:4000/downloads/">Downloads</a></li>
            <li class="link"><a href="http://127.0.0.1:4000/documentation/">Documentation</a></li>
            <li class="link"><a href="http://127.0.0.1:4000/explore-data/">Data</a></li>
        </ul>
    </div>
</section>