<style>
    .data-wrapper {
        background-color: inherit;
    }

    a,
    a:visited {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: purple;
    }
    .province {
        margin-top: 2vh;
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 0;
        position: relative;
    }
</style>
<div class="container">
    <div class="data-wrapper col-lg-12">
        <a href="http://127.0.0.1:4000/en/index.html">back</a>
    </div>
</div>
<section>
    <div class="container">
        <div class="province">
            <a href="http://127.0.0.1:4000/en/british-columbia/">
                <h2>British Columbia</h2>
            </a>
           <a href="http://127.0.0.1:4000/en/british-columbia/"><img src="../assets/img/255px-Flag_of_British_Columbia.svg.png" alt="Flag of British Columbia"></a>
        </div>
    </div>
</section>
</div>
<h4>Contact</h4>
<p>
    Do you have questions about the data or need data that isn't here? <br /> Contact us at
    <a href="https://contact-contactez.nrcan-rncan.gc.ca/index.cfm?st=-1&cat=-1&scat=-1&lang=eng">Natural Resources
        Canada</a>
</p>