---
layout: page
title: Downloads
---

<a href="http://127.0.0.1:4000/en/index.html">home</a>
<h4>{{ page.title }}</h4>

{{page.description.en}}

<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</p>

<ul>
    {% for data in site.data %} {% if resource contains
    site.data.resources.title %}
    <li>
        <span class="favicon-download-alt">
            <a
                href="{{site.baseurl}}{{site.data}}"
                download="{{site.data.resources.providers.data}}"
                >{{data.resources.providers.name}}</a
            >
        </span>
    </li>
    {% endif %} {% endfor %}
</ul>
<h1>{{ page.description }}</h1>
{% include bottom-nav.html %}
<h4>Contact</h4>
<p>
    Do you have questions about the data or need data that isn't here? <br />
    Contact us at
    <a
        href="https://contact-contactez.nrcan-rncan.gc.ca/index.cfm?st=-1&cat=-1&scat=-1&lang=eng"
        >Natural Resources Canada</a
    >
</p>

<!-- 
  <h4>{{site.data.metadata.metadata.contact.position}}</h4>
<p>{{site.data.metadata.metadata.contact.name}}</p>
<ul>
<li>Phone:{{site.data.metadata.metadata.contact.phone}}</li>
<li>Fax:{{site.data.metadata.metadata.contact.fax}}</li>
<li>Email:{{site.data.metadata.metadata.contact.email}}</li>
</ul> -->
