---
layout: page
---

<style>
    #region-summary {
        display: grid;
        background-color: #34495e;
        color: white;
        border-radius: 10px;
    }
    .title {
        margin: 5px;
        text-align: center;
        margin-bottom: 1vh;
    }

    ul {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
        
    }

    /* .indicators, th, td {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr;
    } */

    #multi-hazard-threat th,
    #physical-exposure th,
    #risk-dynamics th,
    #social-fabric th {
        padding-top: 2vh;
        padding-bottom: 2vh;
        text-align: left;
        background-color: #34495e;
        color: white;
        width: 100%;
    }

    #multi-hazard-threat td, 
    #multi-hazard-threat th, 
    #physical-exposure td, 
    #physical-exposure th,
    #risk-dynamics td,
    #risk-dynamics th,
    #social-fabric td,
    #social-fabric th {
  border: 1px solid #ddd;
  padding: 8px;
}


</style>
<section>
    <div class="container">
        <div class="col-md-6">
        <h2>{{page.regionName.en}} Region</h2>
        <blockquote>Province: {{page.province}}</blockquote>
        <div>
            <p>{{page.regionDescription.en}}</p>
        </div>
    </div>
        <div id="region-summary">
            <tr>
                <h2 class="title">Region Summary</h2>
            </tr>
            <ul>
                <li>Assets: {{page.regionSummary.assets}}</li>
                <li>Buildings: {{page.regionSummary.buildings}}</li>
                <li>People: {{page.regionSummary.people}}</li>
                <li>Neighbourhoods: {{page.regionSummary.neighbourhoods}}</li>
                <li>Last Updated: {{page.regionSummary.lastUpdated}}</li>
            </ul>
        </div>
    </div>
</section>
<section class="indicators">
    <div class="container">
        <div class="col-md-12">
            <h2>Multi Hazard Threat</h2>
            <table id="multi-hazard-threat" class="table">
                <tr>
                    <th>Threat Type</th>
                    <th>Datasets</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <td><a href="/">{{page.multiHazardThreat.cyclone.name}}</a></td>
                    <td>{{page.multiHazardThreat.cyclone.datasets}}</td>
                    <td>{{page.multiHazardThreat.cyclone.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.multiHazardThreat.earthquake.name}}</a></td>
                    <td>{{page.multiHazardThreat.earthquake.datasets}}</td>
                    <td>{{page.multiHazardThreat.earthquake.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.multiHazardThreat.flood.name}}</a></td>
                    <td>{{page.multiHazardThreat.flood.datasets}}</td>
                    <td>{{page.multiHazardThreat.flood.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.multiHazardThreat.landslide.name}}</a></td>
                    <td>{{page.multiHazardThreat.landslide.datasets}}</td>
                    <td>{{page.multiHazardThreat.landslide.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.multiHazardThreat.tsunami.name}}</a></td>
                    <td>{{page.multiHazardThreat.tsunami.datasets}}</td>
                    <td>{{page.multiHazardThreat.tsunami.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.multiHazardThreat.wildfire.name}}</a></td>
                    <td>{{page.multiHazardThreat.wildfire.datasets}}</td>
                    <td>{{page.multiHazardThreat.wildfire.lastUpdated}}</td>
                </tr>
            </table>
         </div>   

    </div>
</section>

<section class="indicators">
    <div class="container">
        <div class="col-md-12">
            <h2>Physical Exposure</h2>
            <table id="physical-exposure">
                <tr>
                    <th>Threat Type</th>
                    <th>Datasets</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <td><a href="/">{{page.physicalExposure.summary.name}}</a></td>
                    <td>{{page.physicalExposure.summary.datasets}}</td>
                    <td>{{page.physicalExposure.summary.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.physicalExposure.assets.name}}</a></td>
                    <td>{{page.physicalExposure.assets.datasets}}</td>
                    <td>{{page.physicalExposure.assets.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.physicalExposure.buildings.name}}</a></td>
                    <td>{{page.physicalExposure.buildings.datasets}}</td>
                    <td>{{page.physicalExposure.buildings.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.physicalExposure.people.name}}</a></td>
                    <td>{{page.physicalExposure.people.datasets}}</td>
                    <td>{{page.physicalExposure.people.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.physicalExposure.settledArea.name}}</a></td>
                    <td>{{page.physicalExposure.settledArea.datasets}}</td>
                    <td>{{page.physicalExposure.settledArea.lastUpdated}}</td>
                </tr>
            </table>
         </div>   

    </div>
</section>

<section class="indicators">
    <div class="container">
        <div class="col-md-12">
            <h2>Risk Dynamics</h2>
            <table id="risk-dynamics">
                <tr>
                    <th>Threat Type</th>
                    <th>Datasets</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <td><a href="/">{{page.riskDynamics.hazardSusceptibility.name}}</a></td>
                    <td>{{page.riskDynamics.hazardSusceptibility.datasets}}</td>
                    <td>{{page.riskDynamics.hazardSusceptibility.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.riskDynamics.landUsageChange.name}}</a></td>
                    <td>{{page.riskDynamics.landUsageChange.datasets}}</td>
                    <td>{{page.riskDynamics.landUsageChange.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.riskDynamics.populationGrowth.name}}</a></td>
                    <td>{{page.riskDynamics.populationGrowth.datasets}}</td>
                    <td>{{page.riskDynamics.populationGrowth.lastUpdated}}</td>
                </tr>
            </table>
         </div>   

    </div>
</section>

<section>
    <div class="container">
        <div class="col-md-12">
            <h2>Social Fabric</h2>
            <table id="social-fabric">
                <tr>
                    <th>Threat Type</th>
                    <th>Datasets</th>
                    <th>Last Updated</th>
                </tr>
                <tr>
                    <td><a href="/">{{page.socialFabric.familyStructure.name}}</a></td>
                    <td>{{page.socialFabric.familyStructure.datasets}}</td>
                    <td>{{page.socialFabric.familyStructure.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.socialFabric.financialAgency.name}}</a></td>
                    <td>{{page.socialFabric.financialAgency.datasets}}</td>
                    <td>{{page.socialFabric.financialAgency.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.socialFabric.housingConditions.name}}</a></td>
                    <td>{{page.socialFabric.housingConditions.datasets}}</td>
                    <td>{{page.socialFabric.housingConditions.lastUpdated}}</td>
                </tr>
                <tr>
                    <td><a href="/">{{page.socialFabric.individualAutonomy.name}}</a></td>
                    <td>{{page.socialFabric.individualAutonomy.datasets}}</td>
                    <td>{{page.socialFabric.individualAutonomy.lastUpdated}}</td>
                </tr>
            </table>
         </div>   

    </div>
</section>
